{%block user_board%}
    <thead class="bg-dark bg-opacity-50">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">created_at</th>
        <th scope="col">user_level</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {%for user in allusers%}
      <tr>
        <th scope="row">{{user.id}}</th>
        <td><a href="/users/show/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.created_at}}</td>
        <td>{% if user.user_level == 9%}admin{%else%}normal{%endif%}</td>
      </tr>
      {%endfor%}
    </tbody>

  {%endblock%}